body{
    background-color: brown;
    font-weight: bold;
    color: cornflowerblue;
    font-size: 18px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
